.logo{
    height: 8vh;
}

.btn-d{
    background: rgb(3, 125, 206);
    padding: 5px 10px;
    border-radius: 7px;
    font-weight: 550;
    list-style: none;
    
}
.btn-d:hover{
    background-color: rgb(14, 150, 150);
}
.img{
    height: 50%;
}

.left-side{
    float: left;
    border: 1px solo  blue;
}
.right-side{
    float: right;
}

.custom-placeholder::placeholder {
    color: rgba(255, 255, 255, 0.6) !important;
    opacity: 1; 
}

.form-control {
    padding: 8px 12px;
    font-size: 14px;
    border: 1px solid rgb(71, 71, 71); 
}
.btn{
    background-color: gray;
    border: none;
}
